/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

h1 {
  color: blue;
  font-size: 40px;
  font-weight: 700;
  line-height: 10px;
  padding-top: 100px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

.navigation_1 {
  color: blueviolet;
}

a {
  color: #8B008B;
  background: white;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

a:hover {
  text-decoration: none;
  width: 300px;
}

a:visited,
a:active {
  text-decoration: none;
}

a:focus {
  outline: 2px solid blue;
}

button {
  background-color: cadetblue;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ff00004d;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  width: 300px;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
  width: 300px;
}

.secondary_button {
  color: black;
}

#contact-html {
  background-color: white;
}

.details-style {
  list-style-type: none;
  padding-left: 10px;
}

.contact-conatiner {
  text-align: center;
}

#about-me {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-list {
  list-style-type: none;
  padding-left: 20px;
}

.display-about {
  text-align: center;
}

@-webkit-keyframes flower {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

@keyframes flower {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

@-webkit-keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

.about1-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 1px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: flower;
          animation-name: flower;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#work-work {
  color: black;
  text-align: center;
  padding-top: 10px;
  border-top: 10px;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.home1-animation {
  -webkit-animation: 30s cloud-move infinite
    alternate linear;
          animation: 30s cloud-move infinite
    alternate linear;
  height: 100px;
  width: 100px;
}

.home2-animation {
  -webkit-animation: 30s cloud-move-reverse
    infinite alternate linear;
          animation: 30s cloud-move-reverse
    infinite alternate linear;
  height: 100px;
  width: 100px;
}

.home3-animation {
  height: 100px;
  width: 100px;
  position: relative;
  border: 1px solid black;
  background-color: red;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 20% 40%;
      -ms-transform-origin: 20% 40%;
          transform-origin: 20% 40%;
}

.home4-animation {
  height: 100px;
  width: 100px;
  -webkit-transform: scaleY(2, 2);
      -ms-transform: scaleY(2, 2);
          transform: scaleY(2, 2);
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

p {
  color: black;
  font-size: 15px;
  line-height: 25px;
  font-style: bold;
}

.profile__portrait {
  float: left;
  width: 350px;
  margin-right: 50px;
  height: auto;
  border-radius: 50%;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  clear: both;
  text-align: center;
  padding-top: 70px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.image-size {
  width: 50px;
  height: auto;
  padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list__item--active{
    list-style-type: none;

  }

.navigation-list:hover {
  cursor: pointer;
}

.navigation-list:active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid__item {
  background-color: lightgray;
  padding: 10px;
  padding-top: 20px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item:last-child {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 500px;
    grid-template-columns: 500px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}