body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.home-h1 {
  color: blue;
  font-weight: 700;
  line-height: 20px;
  padding-top: 100px;
}
.h1{
  font-family: "Madimi One", sans-serif; /* Use Google font for headings */
  margin-bottom: 20px;

}


p {
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
}

.navigation_1 {
  color: blueviolet;
}

a {
  color: 8B008B;
  /*Added linear transition tolinks*/
  background: white;
  transition: width 2s;
  transition-timing-function: linear;
}

a:hover {
  text-decoration: none;
  width: 300px;
}

a:visited,
a:active {
  text-decoration: none;
}

a:focus {
  outline: 2px solid blue;
}

button {
  background-color: cadetblue;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ff00004d;
  transition: width 2s;
  transition-timing-function: linear;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.9;
  width: 300px;
}

.secondary_button {
  color: black;
}

#contact-html {
  background-color: white;
}

.details-style {
  list-style-type: none;
  padding-left: 10px;
}

.contact-conatiner {
  text-align: center;
}

#about-me {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-list {
  list-style-type: none;
  padding-left: 20px;
}

.display-about {
  text-align: center;
}

@keyframes flower {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

.about1-animation {
  display: flex;
  width: 100%;
  padding-left: 1px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.about-animation {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  animation-duration: 4s;
  animation-name: flower;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#work-work {
  color: black;
  text-align: center;
  padding-top: 10px;
  border-top: 10px;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
p {
  color: black;
  font-size: 15px;
  line-height: 25px;
  font-style: bold;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 50px;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  display: flex;
  flex-direction: column;
  clear: both;
  text-align: center;
  padding-top: 50px;
}

.image-size {
  width: 50px;
  height: auto;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list:hover {
  cursor: pointer;
}

.navigation-list:active {
  text-decoration: none;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid__item {
  background-color: lightgray;
  padding: 10px;
  padding-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-item-img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
.grid-item-img {
  width: 100%;
  height: auto;
  max-width: 300px;
  transition: transform 2s; /* Smooth transition */
}

.grid-item-img:hover {
  transform: scale(0.8); /* Zoom out effect */
}